<head>
    <title>Readems</title>
    <script src="https://use.fontawesome.com/5a14ed3f93.js"></script>
</head>

<div class="page">
  <div class="header">
    <div class="logo">READEMS</div>
    <ul class="nav-right">
      <li class="languages"> <a href="#">Engish <i class="fa fa-angle-down"></i> </a> </li>
      <li class="about"> <a href="#">About</a> </li>
    </ul>
  </div>
  
  <div class="main">
    <h1>Your desired reading items in one place</h1>
    <div class="search-bar">Search bar</div>
    <div class="top100">Top 100</div>
    <div class="events">Events</div>
  </div> <!-- End main -->
    
  <div class="footer">Footer</div>
</div>